<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="File" fileName="../logs/test.log" append="true">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </File>
    </appenders>

    <loggers>
        <!--ERROR、WARN、INFO、DEBUG-->
        <logger name="com.omni.scooter.test.MyListenter" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
        </logger>
        <logger name="com.omni.scooter.test.MyNinetbotListener" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
        </logger>
        <root level="DEBUG">
            <appender-ref ref="Console"/>
            <appender-ref ref="File"/>
        </root>
        
        
    </loggers>
</configuration>