<?xml version="1.0" encoding="US-ASCII"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <filter>
    <filter-name>encoding</filter-name>
    <filter-class>com.pgt.bikelock.filter.EncodingFilter</filter-class>
    <init-param>
      <param-name>charset</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>contentType</param-name>
      <param-value>text/html;charset=UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>params</filter-name>
    <filter-class>com.pgt.bikelock.filter.ParamsFilter</filter-class>
    <init-param>
      <param-name>charset</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>contentType</param-name>
      <param-value>text/html;charset=UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>params</filter-name>
    <url-pattern>/app/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AdminLoginFilter</filter-name>
    <filter-class>com.pgt.bikelock.filter.AdminLoginFilter</filter-class>
    <init-param>
      <param-name>charset</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>contentType</param-name>
      <param-value>text/html;charset=UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>AdminLoginFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <login-config>
    <auth-method>BASIC</auth-method>
  </login-config>
  <servlet>
    <servlet-name>AutoStartServlet</servlet-name>
    <servlet-class>com.pgt.bikelock.servlet.AutoStartServlet</servlet-class>
    <load-on-startup>8</load-on-startup>
  </servlet>
  <servlet>
    <description>LoginServlet</description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.pgt.bikelock.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/app/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>UserServlet</description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.pgt.bikelock.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/app/user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>BikeServlet</description>
    <display-name>BikeServlet</display-name>
    <servlet-name>BikeServlet</servlet-name>
    <servlet-class>com.pgt.bikelock.servlet.BikeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BikeServlet</servlet-name>
    <url-pattern>/app/bike</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>MembershipServlet</description>
    <display-name>MembershipServlet</display-name>
    <servlet-name>MembershipServlet</servlet-name>
    <servlet-class>com.pgt.bikelock.servlet.MembershipServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MembershipServlet</servlet-name>
    <url-pattern>/app/membership-plans/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayServlet</display-name>
    <servlet-name>PayServlet</servlet-name>
    <servlet-class>com.pgt.bikelock.servlet.PayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayServlet</servlet-name>
    <url-pattern>/app/pay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RfidCardServlet</display-name>
    <servlet-name>RfidCardServlet</servlet-name>
    <servlet-class>com.pgt.bikelock.servlet.RfidCardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RfidCardServlet</servlet-name>
    <url-pattern>/app/rfid/card</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.pgt.bikelock.servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/app/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OthersServlet</servlet-name>
    <servlet-class>com.pgt.bikelock.servlet.OthersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OthersServlet</servlet-name>
    <url-pattern>/other</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>MessageBoxServlet</description>
    <display-name>MessageBoxServlet</display-name>
    <servlet-name>MessageBoxServlet</servlet-name>
    <servlet-class>com.pgt.bikelock.servlet.MessageBoxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageBoxServlet</servlet-name>
    <url-pattern>/app/message</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>alipay notify</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AliPayNotifyServlet</servlet-name>
    <servlet-class>com.pgt.bikelock.servlet.AliPayNotifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AliPayNotifyServlet</servlet-name>
    <url-pattern>/alipay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>StripeNotifyServlet</description>
    <display-name>StripeNotifyServlet</display-name>
    <servlet-name>StripeNotifyServlet</servlet-name>
    <servlet-class>com.pgt.bikelock.servlet.StripeNotifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StripeNotifyServlet</servlet-name>
    <url-pattern>/stripe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>wechatpay notify</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WechatNotifyServlet</servlet-name>
    <servlet-class>com.pgt.bikelock.servlet.WechatNotifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WechatNotifyServlet</servlet-name>
    <url-pattern>/wechatpay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>paypal notify</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PaypalNotifyServlet</servlet-name>
    <servlet-class>com.pgt.bikelock.servlet.PaypalNotifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaypalNotifyServlet</servlet-name>
    <url-pattern>/paypal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>yandex notify</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>YandexNotifyServlet</servlet-name>
    <servlet-class>com.pgt.bikelock.servlet.pay.YandexNotifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>YandexNotifyServlet</servlet-name>
    <url-pattern>/yandex</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>AcquiroPay notify</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AcquiroPayNotifyServlet</servlet-name>
    <servlet-class>com.pgt.bikelock.servlet.pay.AcquiroPayNotifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcquiroPayNotifyServlet</servlet-name>
    <url-pattern>/acquiro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>pay result</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PayResultServlet</servlet-name>
    <servlet-class>com.pgt.bikelock.servlet.pay.PayResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayResultServlet</servlet-name>
    <url-pattern>/payresult</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>BikeCallBackServlet</description>
    <display-name>BikeCallBackServlet</display-name>
    <servlet-name>BikeCallBackServlet</servlet-name>
    <servlet-class>com.pgt.bikelock.servlet.BikeCallBackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BikeCallBackServlet</servlet-name>
    <url-pattern>/bikeCallBack</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.pgt.bikelock.servlet.admin.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/admin/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminManage</servlet-name>
    <servlet-class>com.pgt.bikelock.servlet.admin.AdminManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminManage</servlet-name>
    <url-pattern>/admin/adminManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BikeManage</servlet-name>
    <servlet-class>com.pgt.bikelock.servlet.admin.BikeManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BikeManage</servlet-name>
    <url-pattern>/admin/bikeManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AreaManage</servlet-name>
    <servlet-class>com.pgt.bikelock.servlet.admin.AreaManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AreaManage</servlet-name>
    <url-pattern>/admin/areaManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserManage</servlet-name>
    <servlet-class>com.pgt.bikelock.servlet.admin.UserManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserManage</servlet-name>
    <url-pattern>/admin/userManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConsumeManage</servlet-name>
    <servlet-class>com.pgt.bikelock.servlet.admin.ConsumeManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsumeManage</servlet-name>
    <url-pattern>/admin/consumeManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CouponManage</servlet-name>
    <servlet-class>com.pgt.bikelock.servlet.admin.CouponManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CouponManage</servlet-name>
    <url-pattern>/admin/couponManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConfigManage</servlet-name>
    <servlet-class>com.pgt.bikelock.servlet.admin.ConfigManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfigManage</servlet-name>
    <url-pattern>/admin/configManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RedPackManage</servlet-name>
    <servlet-class>com.pgt.bikelock.servlet.admin.RedPackManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedPackManage</servlet-name>
    <url-pattern>/admin/redpackManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PurviewManage</servlet-name>
    <servlet-class>com.pgt.bikelock.servlet.admin.PurviewManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurviewManage</servlet-name>
    <url-pattern>/admin/purviewManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CityManage</servlet-name>
    <servlet-class>com.pgt.bikelock.servlet.admin.CityManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CityManage</servlet-name>
    <url-pattern>/admin/city</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MessageBoxManage</servlet-name>
    <servlet-class>com.pgt.bikelock.servlet.admin.MessageBoxManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageBoxManage</servlet-name>
    <url-pattern>/admin/messageManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NotificationManage</servlet-name>
    <servlet-class>com.pgt.bikelock.servlet.admin.NotificationManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotificationManage</servlet-name>
    <url-pattern>/admin/notifyManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RfidCardManage</servlet-name>
    <servlet-class>com.pgt.bikelock.servlet.admin.RfidCardManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RfidCardManage</servlet-name>
    <url-pattern>/admin/rfidManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminUploadServlet</servlet-name>
    <servlet-class>com.pgt.bikelock.servlet.admin.AdminUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUploadServlet</servlet-name>
    <url-pattern>/admin/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.pgt.bikelock.servlet.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/testServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AppDownload</servlet-name>
    <servlet-class>com.pgt.bikelock.servlet.AppDownload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppDownload</servlet-name>
    <url-pattern>/download/app</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>ReceiveSmsServlet</description>
    <display-name>ReceiveSmsServlet</display-name>
    <servlet-name>ReceiveSmsServlet</servlet-name>
    <servlet-class>com.pgt.bikelock.servlet.ReceiveSmsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiveSmsServlet</servlet-name>
    <url-pattern>/receive_sms</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>send order to lock by http</description>
    <display-name>LockServlet</display-name>
    <servlet-name>LockServlet</servlet-name>
    <servlet-class>com.pgt.bikelock.servlet.lock.LockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LockServlet</servlet-name>
    <url-pattern>/lockServlet</url-pattern>
  </servlet-mapping>
</web-app>